<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Bienvenu dans le cours de Angular</h1> -->
    
    <app-header></app-header>
    <app-snap-ipd [ville] = "dakar"></app-snap-ipd>
    <app-snap-ipd [ville] = "newyork"></app-snap-ipd>
    <app-snap-ipd [ville] = "bogota"></app-snap-ipd>

    
</body>
</html>
